<section class="home">
    <div class="section-wrapper">
        <div class="logo">
            <img src="assets/images/logo-big-new.png" alt="logo">
        </div>
        <p><span class="highlight">bench</span>, a motivated team of individuals from all age groups, growing together
            and helping each other contribute to areas they engage with. Most of our members are active social workers
            in various disciplines in India. <br>
            We are passionate about nurturing a <span class="highlight">bench</span> of
            individuals with self love and compassion that stay together for humanity.</p>
    </div>
</section>