<nav class="nav-bar">
    <div class="nav-section">
        <div class="logo">
            <img src="assets/images/logo-big-new.png" alt="logo">
        </div>
        <div class="menu-section">
            <div class="menu">
                Home
            </div>
            <div class="menu">
                About Us
            </div>
            <div class="menu">
                Fellowship
            </div>
        </div>
        <div class="contact-us">
            <img src="assets/images/mail.svg" alt="mail">
            <p>Contact Us</p>
        </div>
    </div>
</nav>
<app-home />
<app-about-us />
<app-event-section />
<app-contact-us />
<app-footer />