.nav-bar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 20;
    padding: 1rem 4rem;
    border-bottom: 2px solid #088395;
    background: #ecf2f8;

    @media screen and (max-width: 1000px) {
        padding: 1rem 3rem;
    }

    @media screen and (max-width: 800px) {
        padding: 1rem 1rem;
    }

    .nav-section {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            img {
                width: 2.5rem;
            }
        }

        .menu-section {
            display: flex;
            gap: 3rem;
            cursor: pointer;

            @media screen and (max-width: 800px) {
                gap: 1rem;
            }

            .menu {
                font-weight: 600;
                font-size: 1.5rem;
                color: #35433b;

                @media screen and (max-width: 1000px) {
                    font-size: 1rem;
                }
            }

            .not-allowed {
                cursor: not-allowed;
            }
        }

        .contact-us {
            display: flex;
            gap: 1rem;
            align-items: center;
            cursor: pointer;

            p {
                margin: 0;
                font-weight: 600;
                font-size: 1.5rem;
                color: #35433b;

                @media screen and (max-width: 1000px) {
                    font-size: 1rem;
                }
            }
        }
    }

}

.set-margin {
    margin-top: 2rem;
}

.parallax1 {
    height: 40rem;
    background: url(/assets/images/bg-6.jpg) no-repeat center center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.parallax2 {
    height: 50rem;
    background: url(/assets/images/bg-3.jpg) no-repeat center center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}