<nav class="nav-bar">
    <div class="nav-section">
        <div class="logo">
            <img src="assets/images/logo-small.png" alt="logo">
        </div>
        <div class="menu-toggle" (click)="toggleMenu()">
            <div class="hamburger" [class.hidden]="isMenuOpen">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="close-icon" [class.visible]="isMenuOpen">
                &#10005;
            </div>
        </div>
        <div class="menu-section" [class.active]="isMenuOpen">
            <div class="menu" (click)="scrollToSection('home')">
                Home
            </div>
            <div class="menu" (click)="scrollToSection('about-us')">
                About Us
            </div>
            <div class="menu" (click)="scrollToSection('event')">
                Events
            </div>
            <div class="menu not-allowed" (click)="scrollToSection('')">
                User Login
            </div>
            <div class="contact-us" (click)="scrollToSection('contact-us')">
                <img src="assets/images/mail.svg" alt="mail">
                <p>Contact Us</p>
            </div>
        </div>
    </div>
    <div class="scrolling-text">
        <p class="scrolling-text-p">
            <span class="scrolling-text-black">Bench fellowship 2024-2026 enrolments are now</span> OPEN <span
                class="scrolling-text-black">.
                &nbsp; &nbsp; Fellowship Camp Session-1 Starts
                from </span> 20/09/2024 <span class="scrolling-text-black">to</span> 22/09/2024 <span
                class="scrolling-text-black">.
                &nbsp; &nbsp; Contact us for more details.</span>
        </p>
    </div>
</nav>

<app-home id="home" />
<section class="parallax1" [ngStyle]="{'background-image': 'url(' + parallax1Image + ')'}"></section>
<app-about-us id="about-us" />
<section class="parallax2" [ngStyle]="{'background-image': 'url(' + parallax2Image + ')'}"></section>
<app-event-section id="event" />
<app-contact-us id="contact-us" />
<app-footer />