.nav-bar {
    // position: fixed;
    // width: 100%;
    padding: 1rem;

    .nav-section {
        display: flex;
        justify-content: space-between;

        .logo{

        }

        .menu-section {
            display: flex;
            gap: 3rem;
        }
    }

}