
<section class="events">
    <h2 class="about-heading">Fellowship</h2>
    <div class="event-list">
        <div class="event-items">
            <div class="event" (click)="itemClick($event,'Obj')">
                Objectives
            </div>
            <div class="event" (click)="itemClick($event,'Cri')">
                Criteria
            </div>
            <div class="event" (click)="itemClick($event,'Offer')">
                We Offer
            </div>
            <div class="event" (click)="itemClick($event,'Expect')">
                We Expect
            </div>
        </div>
        <div class="event-description">
            <div class="evnt-des" *ngIf="objective">
                <ol>
                    <li>To create a space conducive to sharing thoughts and feelings.</li>
                    <li>To improve the emotional well being of youth.</li>
                    <li>To improve self awareness, self esteem, self love, self confidence and leadership qualities.
                    </li>
                    <li>To provide opportunity to work for improving the life of children in backward communities.</li>
                    <li>To provide opportunities for the fellows to get involved in their community.</li>
                    <li>To get new skills, new friends, feel like they are making a difference.</li>
                </ol>
            </div>
            <div class="evnt-des" *ngIf="criteria">
                <ol>
                    <li>This is a part-time fellowship programme.</li>
                    <li>Takes 40-60 days and concludes within 18 months.</li>
                    <li>From one department a maximum of 3-5 students can join (male & female)</li>
                </ol>
            </div>
            <div class="evnt-des" *ngIf="weOffer">
                <ol>
                    <li>Expert training in personal and professional growth.</li>
                    <li>Participation certificates for both the department and its students.</li>
                    <li>Real-life experience among rural communities, children, and youth.</li>
                    <li>Ensures your skill development.</li>
                    <li>Funds will be provided by Team Bench.</li>
                    <li>Camp for the program will be conducted according to the time and availability of students.</li>
                </ol>
            </div>
            <div class="evnt-des" *ngIf="weExpect">
                <ol>
                    <li>Active participation and collaboration of the department.</li>
                    <li>Continuous participation of students.</li>
                </ol>
            </div>
        </div>
        <!-- Repeat for other events -->
    </div>
</section>