.parallax2 {
    height: 50rem;
    background: url(/assets/images/bg-3.jpg) no-repeat center center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.events {
    padding: 50px;
    background-color: #A0DEFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .event-list {
        display: flex;
        width: 70%;
        height: 20rem;
        border-radius: 10px;
        background-color: white;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

        .event-items {
            width: 15%;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            .event {
                // background-color: #f9f9f9;
                padding: 20px;
                font-weight: 700;


            }
        }

        .event-description {
            padding: 0.5rem 1rem;
            width: 50%; 
        }
    }
}

.about-heading {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 2rem
}