<section class="parallax1"></section>
<section class="about">
    <h2 class="about-heading">About Us</h2>
    <div class="about-center">A group of motivated social workers collectively share ideas , help budding social workers
        to tailor their aspirations,providing enterprising platforms in such a way that they can be changemakers of
        tomorrow.</div>
    <div class="cards">
        <div class="card">
            <div class="front">
                <h3>Creative Space</h3>
            </div>
            <div class="back">
                <p>Bench provides a creative space for young individuals in India.</p>
            </div>
        </div>
        <div class="card">
            <div class="front">
                <h3>Enterprising Platforms</h3>
            </div>
            <div class="back">
                <p>Our primary focus is to provide different enterprising platforms for youths.</p>
            </div>
        </div>
        <div class="card">
            <div class="front">
                <h3>Positive Impact</h3>
            </div>
            <div class="back">
                <p>Youths discover themselves and set themselves up to bring positive impacts to their community.</p>
            </div>
        </div>
    </div>
</section>